* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#myForm {
    width: 50%;
    height: 100vh;
    background-color: gray;
    border-radius: 10px;
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label {
    display: flex;
}